---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const isActive = href === Astro.url.pathname.replace(/\/$/, "");
---

<a
	href={href}
	rel="prefetch"
	class:list={[className, { active: isActive }]}
	{...props}
>
	<slot />
</a>
<style>
	a {
		&:hover {
			@apply text-slate-800;
		}
		&.active {
			@apply text-slate-800 font-bold;
		}
	}
</style>
